[project]
	description = Collection of Dockerfiles for building embedded software distributions
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gianpaolo Macario (gmacario)
[access "refs/for/refs/*"]
	read = group user/Gianpaolo Macario (gmacario)
	push = group user/Gianpaolo Macario (gmacario)
	label-Code-Review = -2..+2 group user/Gianpaolo Macario (gmacario)
	label-Verified = -1..+1 group user/Gianpaolo Macario (gmacario)
	rebase = group user/Gianpaolo Macario (gmacario)
	removeReviewer = group user/Gianpaolo Macario (gmacario)
	submit = group user/Gianpaolo Macario (gmacario)
[access "refs/heads/*"]
	read = group user/Gianpaolo Macario (gmacario)
	create = group user/Gianpaolo Macario (gmacario)
	push = +force group user/Gianpaolo Macario (gmacario)
	pushMerge = group user/Gianpaolo Macario (gmacario)
[access "refs/tags/*"]
	push = +force group user/Gianpaolo Macario (gmacario)
	pushTag = group user/Gianpaolo Macario (gmacario)
	pushSignedTag = group user/Gianpaolo Macario (gmacario)
